<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero">
  <div id="owl-main" class="owl-carousel owl-one-item">

    <div class="item img-bg-center" style="background-image: url(/images/FrontPageBanner.jpg);">
      <div class="container">
        <div class="caption vertical-center text-center">

          <h1 class="fadeInDown-1 light-color">Topcoder Hackathons</h1>
          <div class="fadeInDown-3">
            <a href="/upcoming" class="btn btn-large">Upcoming Events</a>
          </div><!-- /.fadeIn -->

        </div><!-- /.caption -->
      </div><!-- /.container -->
    </div><!-- /.item -->

  </div><!-- /.owl-carousel -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->


<!-- ============================================================= SECTION – GET STARTED ============================================================= -->

<section id="get-started" class="tint-bg">
  <div class="container inner-sm" style="padding-top:20px;padding-bottom:20px">
    <div class="row">
      <div class="col-sm-11 center-block text-center">
        <h1 class="single-block">Not a topcoder member? <a href="https://www.topcoder.com/?action=showlogin&next={{registerReturnUrl}}" class="btn btn-large">Sign Up Now</a></h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – GET STARTED : END ============================================================= -->


<!-- ============================================================= SECTION – TESTIMONIALS ============================================================= -->

<section id="testimonials" class="light-bg img-bg-softer" style="background-image: url(/images/art/pattern-background01.jpg);">
  <div class="container inner">

    <div class="row">
      <div class="col-md-10 col-sm-11 center-block text-center">
        <header>
          <h1>The TopCoder Open is the Ultimate Programming and Design Competition featuring six tracks of competitions, six events around the world, and the chance to be a Topcoder Champion...</h1>
        </header>
      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
      <div class="col-md-8 col-sm-9 center-block text-center">
        <div id="owl-testimonials" class="owl-carousel owl-outer-nav owl-ui-md">

          <div class="item">
            <blockquote>
              <p>I’ve been member for over 2 years, and I wish I’d known about it before.</p>
              <footer>
                <cite>supercharger, Development</cite>
              </footer>
            </blockquote>
          </div><!-- /.item -->

          <div class="item">
            <blockquote>
              <p>You have to solve a lot of problems to become really successful.</p>
              <footer>
                <cite>petr, Data Science</cite>
              </footer>
            </blockquote>
          </div><!-- /.item -->

          <div class="item">
            <blockquote>
              <p>I came in as a graphic designer hobbyist. I became a Project Manager and UI/UX consultant.</p>
              <footer>
                <cite>mahestro, Design</cite>
              </footer>
            </blockquote>
          </div><!-- /.item -->

        </div><!-- /.owl-carousel -->
      </div><!-- /.col -->
    </div><!-- /.row -->

  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – TESTIMONIALS : END ============================================================= -->


<!-- ============================================================= SECTION – SERVICES ============================================================= -->

<section id="services">
  <div class="container inner-top inner-bottom-sm">

    <div class="row">
      <div class="col-md-8 col-sm-9 center-block text-center">
        <header>
          <h1>Topcoder awards over $25,000 a day in challenge prize money.</h1>
          <p>The topcoder community gathers the world’s experts in design, development and data science to work on interesting and challenging problems for fun and reward. We want to help topcoder members improve their skills, demonstrate and gain reward for their expertise, and provide the industry with objective insight on new and emerging technologies.</p>
        </header>
      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row inner-top-sm text-center">

      <div class="col-sm-4 inner-bottom-xs">
        <div class="icon">
          <img src="/images/ico-sd.png">
        </div><!-- /.icon -->
        <h2>Development</h2>
        <p class="text-small">Ready to compete with code in the cloud and win cash? Compete in public application development challenges to win cash, earn achievements, and fine tune your skills.</p>
      </div><!-- /.col -->

      <div class="col-sm-4 inner-bottom-xs">
        <div class="icon">
          <img src="/images/ico-an.png">
        </div><!-- /.icon -->
        <h2>Data Science</h2>
        <p class="text-small">Test your skills on algorithm problems involving machine learning, graph theory, optimizations, recursion, dynamic programming and much more by competiting in Single Round Matches (SRMs) and Marathon Matches.</p>
      </div><!-- /.col -->

      <div class="col-sm-4 inner-bottom-xs">
        <div class="icon">
          <img src="/images/ico-ux.png">
        </div><!-- /.icon -->
        <h2>Graphic Design</h2>
        <p class="text-small">Compete in all types of design challenges to win prize money and establish your street cred. Improve your portfolio while working on real world projects for big-name clients.</p>
      </div><!-- /.col -->

    </div><!-- /.row -->

  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – SERVICES : END ============================================================= -->
