<!-- ============================================================= SECTION – GET STARTED ============================================================= -->
<section id="get-started" class="tint-bg">
  <div class="container inner-sm" style="padding-top:20px;padding-bottom:20px">
    <div class="row">
      <div class="col-sm-11 center-block text-center">
          <h1 class="single-block">Login required to continue! <a href="#"  onclick="login()" class="btn btn-large">login now</a></h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – GET STARTED : END ============================================================= -->


<!-- ============================================================= SECTION – SERVICES ============================================================= -->

<section id="services">
  <div class="container inner-top inner-bottom-sm">

    <div class="row">
      <div class="col-md-8 col-sm-9 center-block text-center">
        <header>
          <h1>Topcoder awards over $25,000 a day in challenge prize money.</h1>
          <p>The topcoder community gathers the world’s experts in design, development and data science to work on interesting and challenging problems for fun and reward. We want to help topcoder members improve their skills, demonstrate and gain reward for their expertise, and provide the industry with objective insight on new and emerging technologies.</p>
        </header>
      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row inner-top-sm text-center">

      <div class="col-sm-4 inner-bottom-xs">
        <div class="icon">
          <img src="/images/ico-sd.png">
        </div><!-- /.icon -->
        <h2>Development</h2>
        <p class="text-small">Ready to compete with code in the cloud and win cash? Compete in public application development challenges to win cash, earn achievements, and fine tune your skills.</p>
      </div><!-- /.col -->

      <div class="col-sm-4 inner-bottom-xs">
        <div class="icon">
          <img src="/images/ico-an.png">
        </div><!-- /.icon -->
        <h2>Data Science</h2>
        <p class="text-small">Test your skills on algorithm problems involving machine learning, graph theory, optimizations, recursion, dynamic programming and much more by competiting in Single Round Matches (SRMs) and Marathon Matches.</p>
      </div><!-- /.col -->

      <div class="col-sm-4 inner-bottom-xs">
        <div class="icon">
          <img src="/images/ico-ux.png">
        </div><!-- /.icon -->
        <h2>Graphic Design</h2>
        <p class="text-small">Compete in all types of design challenges to win prize money and establish your street cred. Improve your portfolio while working on real world projects for big-name clients.</p>
      </div><!-- /.col -->

    </div><!-- /.row -->

  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – SERVICES : END ============================================================= -->
