<div class="login-page clearfix" align="center">
    <div class="logged-in-box auth0-box logged-in">
        <h1 id="logo"><img src="/images/auth0-logo.png" width="400" /></h1>
        <button onclick="login()">Login</button>
    </div>
</div>
